body {
    font-family: Arial;
    margin: 40px;
}

h2 {
    color: darkblue;
}

input {
    padding: 5px;
    font-size: 16px;
}

button {
    padding: 8px 15px;
    font-size: 16px;
    background-color: green;
    color: white;
    border: none;
}

button:hover {
    background-color: darkgreen;
}

h3 {
    color: blue;
}
